<!DOCTYPE html>
<html lang="cn">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="../../lib/vue.min.js"></script>
   <title>Document</title>
</head>
<body>
   
<div id='app'>

    <input type="text" v-model="firstname"> +
    <input type="text" v-model="lastname" > =
    <input type="text" v-model="fullname">

</div>
<script>
var vm = new Vue({
    el:'#app',
    data : {
        firstname:"",
        lastname:"",
        fullname:"",
    }
    ,methods:{
    }
    ,watch:{ // 使用这个属性，可以监视 data 中指定数据的变化，然后触发这个 watch 中对应的 function 处理函数
        // 变量中有 '-' 时 必须使用 引号包起来
        firstname:function(newVal, oldVal){
            this.fullname = this.firstname + "-" + this.lastname
            console.log("newVal", newVal, "oldVal", oldVal);
        },
        lastname:function(newVal, oldVal){
            this.fullname = this.firstname + "-" + this.lastname
            console.log("newVal", newVal, "oldVal", oldVal);
        }        
    }
})
</script>
</body>
</html>