<!DOCTYPE html>
<html lang="cn">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap.css -->
    <link href="../../css/bootstrap.min.css"  rel="stylesheet">
   <script src="../../lib/vue.min.js"></script>
   <title>Document</title>
</head>
<body>
   
<div id='app'>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                ID:
                <input v-model="id" type="text" class="form-control">
            </label>
            <label>
                Name:
                <input v-model="name" type="text" class="form-control">
            </label>
            
            <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，可以添加小括号进行传参(add()) -->
            <input v-on:click="add()" type="button" value="添加" class="btn btn-primary">
        
            <label>
                搜索名称关键字：
                <input type="text" v-model="keywords">
            </label>

        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <!-- 之前， v-for中的数据，都是直接从data上的list中直接渲染过来的 -->
            <!-- 现在，我们自定义一个search 方法，同时把搜索的关键字，通过传参的形式，传递给search方法 -->
            <!-- <tr v-for="item in list" v-bind:key="item.id"> -->
             
            <!--  在search方法内部，通过执行for循环，把所有符合 搜索关键字的数字，保存到一个新数组中，返回-->
            <tr v-for="item in search(keywords)" v-bind:key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime}}</td>
                <td><a href="" v-on:click.prevent="del(item.id)">删除</a></td>
            </tr>
        </tbody>
        
    </table>
</div>
<script>
    var vm = new Vue({
        el:'#app',
        data : {
            id: '',
            name: '',
            keywords:'',
            list:[
                {id:1,name:'奔驰', ctime: new Date()},
                {id:2,name:'宝马', ctime: new Date()}
            ]
        },
        methods:{
            add(){
                if (this.id == "") {
                    return false;
                }
                var car = {id:this.id, name:this.name, ctime:new Date()};
                this.list.push(car);
                this.id = this.name = "";
                console.log("添加方法");
            },
            del(id){
                // 方法1：使用some寻找索引，使用数组的splice删除元素
                // this.list.some((item, i)=>{
                //     if(item.id == id){
                //         // 删除数组元素
                //         this.list.splice(i, 1);
                //         // 在数组的 some方法中，如果 return true，就会立即终止这个数组的后续循环
                //         return true;
                //     }
                // });

                // 方法2：数组新增到的 findIndex方法找索引
                var index = this.list.findIndex(item =>{
                    if(item.id == id){
                        return true;
                    }
                })
                console.log(index);
                this.list.splice(index, 1);

                
            },
            search(keywords){ // 根据关键字搜索
                // var newList = [];
                // this.list.forEach(item=>{
                //     if(item.name.indexOf(keywords) != -1){
                //         newList.push(item);    
                //     }

                // });
                // return newList;

                // 注意：forEach some filter findIndex
                // 都会对数组中的每一项，进行遍历，执行相关的操作
                var newList = this.list.filter(item =>{
                    // if(item.name.indexOf(keywords) != -1)

                    // 注意：ES6中，为字符串提供了一个新方法，叫做 String.prototype.includes('要包含的字符串')
                    // 如果包含则返回true， 否则返回false
                    if(item.name.includes(keywords)){
                        return item;    
                    }
                })

                return newList;
            }

        }
    })

    // 过滤器的定义语法
    // Vue.filter('过滤器的名称', function(){})

    // 过滤器中的function，第一个参数，已经被规定死了， 永远都是过滤器管道符前面 传递过来的数据
    Vue.filter('过滤器的名称', function(data){
        return data + '123';
    })   
</script>
</body>
</html>
