<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
</head>
<!-- 
    1.列表显示
    数组: v-for / index
    对象: v-for / key
    2.列表的更新显示
    删除item
    替换item
 -->
<body>
    <div id="app">
        <h2>测试：v-for 遍历数组</h2>
        <ul>
            <li v-for="(p, index) in persons" >
                {{p.name}} -- {{p.age}} -- {{index}} 
                --  <button v-on:click="deleteP(index)">删除</button>
                --- <button @click="updateP(index, {name:'cat', age:100})">更新</button>
            </li>
        </ul>

        <h2>测试：v-for 遍历对象</h2>
        <ul>
            <li v-for="(value, key, index) in persons[1]">
                {{key}} --- {{value}} -- {{index}}
            </li>
        </ul>
    </div>
     <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
     <script type="text/javascript">
        // 创建vue实例
        const vm = new Vue({ // 配置对象
            el:'#app',  // element 选择器
            data:{  // 数据（mode）
                // Vue本身只是监视了persons的改变，没有监视数组内部数据的改变
                // Vue重写了数组中的一系列改变数组内部数据的方法（先调用原生，然后更新界面）---> 数组内部变化，界面自动变化
                persons:[ 
                    {name:'Tom', age:18},
                    {name:'Jack', age:20},
                    {name:'Bob', age:19},
                    {name:'Rose', age:22},
                ]
            },
            methods:{
                /* 使用delete方法名时报错 */
                deleteP(index){
                    this.persons.splice(index, 1)
                },
                updateP(index, newP){
                    // 并没有改变persons本身，数组内部发生了变化，但并没有调用变异方法,Vue不会更新界面
                    // this.persons[index] = newP; 
                    this.persons.splice(index, 1, newP);
                }
            }
        });

     </script>
</body>

</html>