<!DOCTYPE html>
<html lang="cn">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap.css -->
    <link href="../../css/bootstrap.min.css"  rel="stylesheet">
   <script src="../../lib/vue.min.js"></script>
   <title>Document</title>
</head>
<body>
   
<div id='app'>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                ID:
                <input v-model="id" type="text" class="form-control">
            </label>
            <label>
                Name:
                <input v-model="name" type="text" class="form-control" v-on:keyup.f2="add">
            </label>
            
            <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，可以添加小括号进行传参(add()) -->
            <input v-on:click="add()" type="button" value="添加" class="btn btn-primary">
        
            <label>
                搜索名称关键字：
                <!-- 注意：Vue中所有的指令，在调用的时候，都以 v- 开头 -->
                <input type="text" v-model="keywords" id="search" v-focus v-color="'blue'">
            </label>

        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <!-- 之前， v-for中的数据，都是直接从data上的list中直接渲染过来的 -->
            <!-- 现在，我们自定义一个search 方法，同时把搜索的关键字，通过传参的形式，传递给search方法 -->
            <!-- <tr v-for="item in list" v-bind:key="item.id"> -->
             
            <!--  在search方法内部，通过执行for循环，把所有符合 搜索关键字的数字，保存到一个新数组中，返回-->
            <tr v-for="item in search(keywords)" v-bind:key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime | dateFormat() }}</td>
                <td><a href="" v-on:click.prevent="del(item.id)">删除</a></td>
            </tr>
        </tbody>
        
    </table>
</div>

<div id="app2">
    <p v-fontweight="'900'" v-color="'green'" v-fontsize="'30px'">{{ dt|dateFormat("a")}}</p>
</div> 

<script>

    // 全局的过滤器，进行时间的格式化
    // 这里使用形参的默认值为空字符串
    // 所谓的全局过滤器，所有vue实例共享
    Vue.filter('dateFormat', function(data, pattern=""){
        // 根据给定的时间字符串，得到时间
        var dt = new Date(data);

        // yyyy-mm-dd
        var year = dt.getFullYear();
        var month = dt.getMonth() + 1;
        var day = dt.getDate();

        

        if(pattern && pattern.toLowerCase() === 'yyyy-mm-dd'){
            return `${year}-${month}-${day}`
        } else {
            var hh = dt.getHours();
            var minutes = dt.getMinutes();
            var seconds = dt.getSeconds();
            return `${year}-${month}-${day} ${hh}:${minutes}:${seconds}`
        }
    })

    // 自定义全局按键修饰符
    Vue.config.keyCodes.f2=113;


    // 使用 Vue.directive() 定义全局的指令
    // 其中：
    // 参数1：指令的名称，注意，在定义的时候，指令的名称前面不需要定义前缀，在调用的时候，必须在指令名称前 加上 v- 前缀
    // 参数2：是一个对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关的操作
    Vue.directive('focus',{

        bind:function(el){ // 每当指令绑定到元素上的时候，会立即执行这个 bind 函数，只执行一次
            // 注意：在每个函数中，第一个参数，永远是el，表示 被绑定了指令的那个元素，这个 el 参数，是一个原生的JS对象
            // 在元素 刚绑定了指令的时候，还没有插入到dom中去，这个时候调用focus 方法没有作用
            // 因为，一个元素，只有插入DOM之后，才能获取焦点
            // el.focus();
        },
        inserted:function(el){ // inserted表示元素 插入到DOM中的时候，会执行 inserted 函数。只触发一次
            // 和JS行为有关的操作，最好在 inserted 中执行，防止JS行为不生效
            el.focus();
        },
        updated:function(){ // 当VNode更新的时候，会执行 updated，可能会触发多次

        }
    })

    // 自定义设置颜色的指令
    Vue.directive('color',{
        // 样式，只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，这个元素肯定有了一个内联样式。
        // 将来元素肯定会显示到页面中去，这时候，浏览器的渲染引擎必然会解析样式，应用给元素
        bind:function(el, binding){
            el.style.color="red";
            // 和样式相关的操作，一般可以在bind中执行

            console.log(binding.value);
            el.style.color=binding.value

        },
        inserted:function(el){},
        updated:function(el){}
    })


    var vm = new Vue({
        el:'#app',
        data : {
            id: '',
            name: '',
            keywords:'',
            list:[
                {id:1,name:'奔驰', ctime: new Date()},
                {id:2,name:'宝马', ctime: new Date()}
            ]
        },
        methods:{
            add(){
                if (this.id == "") {
                    return false;
                }
                var car = {id:this.id, name:this.name, ctime:new Date()};
                this.list.push(car);
                this.id = this.name = "";
                console.log("添加方法");
            },
            del(id){
                // 方法1：使用some寻找索引，使用数组的splice删除元素
                // this.list.some((item, i)=>{
                //     if(item.id == id){
                //         // 删除数组元素
                //         this.list.splice(i, 1);
                //         // 在数组的 some方法中，如果 return true，就会立即终止这个数组的后续循环
                //         return true;
                //     }
                // });

                // 方法2：数组新增到的 findIndex方法找索引
                var index = this.list.findIndex(item =>{
                    if(item.id == id){
                        return true;
                    }
                })
                console.log(index);
                this.list.splice(index, 1);

                
            },
            search(keywords){ // 根据关键字搜索
                // var newList = [];
                // this.list.forEach(item=>{
                //     if(item.name.indexOf(keywords) != -1){
                //         newList.push(item);    
                //     }

                // });
                // return newList;

                // 注意：forEach some filter findIndex
                // 都会对数组中的每一项，进行遍历，执行相关的操作
                var newList = this.list.filter(item =>{
                    // if(item.name.indexOf(keywords) != -1)

                    // 注意：ES6中，为字符串提供了一个新方法，叫做 String.prototype.includes('要包含的字符串')
                    // 如果包含则返回true， 否则返回false
                    if(item.name.includes(keywords)){
                        return item;    
                    }
                })

                return newList;
            }

        }
    })


    // 如何自定义一个私有的过滤器（局部）

    var vm2 = new Vue({
        el:"#app2",
        data:{
            dt:new Date()
        },
        methods:{

        },
        // 过滤器调用的时候，采用的是就近原则， 如果私有过滤器和全局过滤器同名，这时就调用私有过滤器
        filters:{ // 定义私有过滤器，过滤器有两个条件（过滤器名称和处理函数）
            dateFormat: function(dateStr, pattern=""){
                // 根据给定的时间字符串，得到时间
                var dt = new Date(dateStr);

                // yyyy-mm-dd
                // string.padStart(num, str);// 字符串string不足num位，从左边填充str字符
                // string.padEnd(num, str);// 字符串string不足num位，从右边填充str字符
                var year = dt.getFullYear();
                var month = (dt.getMonth() + 1).toString().padStart(2,"0");
                var day =( dt.getDate()).toString().padStart(2,"0");

                if(pattern && pattern.toLowerCase() === 'yyyy-mm-dd'){
                    return `${year}-${month}-${day}`
                } else {
                    var hh = (dt.getHours()).toString().padStart(2,"0");
                    var minutes = (dt.getMinutes()).toString().padStart(2,'0');
                    var seconds = (dt.getSeconds()).toString().padStart(2,'0');
                    return `${year}-${month}-${day} ${hh}:${minutes}:${seconds} =====`
                } 
            }

        },
        directives:{ // 自定义私有指令
            'fontweight':{ // 设置字体加粗
                bind:function(el, binding){
                     el.style.fontWeight = binding.value   
                }
            },
            'fontsize':function(el, binding){ // 注意：这个 function 等同于把 代码写到了 bind 和 update中去
                el.style.fontSize = parseInt(binding.value) + 'px';
            }
        }
            
    })

    // 过滤器的定义语法
    // Vue.filter('过滤器的名称', function(){})

    // 过滤器中的 function，第一个参数，已经被规定死了， 永远都是过滤器管道符前面 传递过来的数据
    Vue.filter('过滤器的名称', function(data){
        return data + '123';
    })   
</script>

</body>
</html>
<!-- 过滤器调用时候的格式 {{ name | 过滤器的名称 }} -->
